
.notes-list {
    text-align: center;
    margin: 60px;
    .list-common {
        > li {
            display: flex;
            > div {
                flex: 2;
                &:first-child {
                    flex: 1;
                }
                &:nth-child(2) {
                    flex: 4;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    > a {
                        color: rgba(67, 72, 77, 0.8);
                        &:hover {
                            color: #f60;
                        }
                    }
                }
            }
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
